.country-searcher {
  margin: 5%;
  display: flex;
  justify-content: start;
  gap: 50px;
}

.country-searcher ::-webkit-scrollbar {
  width: .5rem;
}

.country-searcher ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000;
}